<div class="app-component-wrapper">
  <div
    *ngIf="currentTimerStatus === timerStatus.Running || currentTimerStatus === timerStatus.Paused"
    class="timer-display"
  >
    {{ count }}
  </div>
  <div *ngIf="currentTimerStatus === timerStatus.Cancelled" class="timer-display">{{ text }}</div>

  <button
    class="cancel-button"
    (click)="cancel()"
    [disabled]="currentTimerStatus === timerStatus.Cancelled"
  >
    Cancel
  </button>
  <button (click)="onClick()">{{ startButtonText }}</button>
</div>
